<html>
<head>
    <title>Pet name</title>
</head>
<body>
<h1>You created a pet!</h1>
<p>{{ newpet.getName }} the {{ newpet.getAnimal }}</p>
<p><a href='/'>View your list of pets.</a></p>
</body>
</html>
