<!DOCTYPE html>
<html>
<head>
<link href='https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css' rel='stylesheet' type='text/css'>
<title>My tamagotchi</title>
</head>
<body>
    <div class='container'>
        <h1>My Tamagotchi</h1>
        <p>Your pet: " . $petName . "</p>

        <p>Congrats, you cared for your pet!</p>
    </div>
</body>
</html>
