<!DOCTYPE html>
<html>
<head>
<link href='https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css' rel='stylesheet' type='text/css'>
<title>My tamagotchi</title>
</head>
<body>
    <div class='container'>
        <h1>My Tamagotchi</h1>
        {% if pets is not enpty %}
            <p>Here is your pet:</p>
                {% for this_pet in pets %}
                    <p>{{ this_pet.getName }}</p>
                {% endfor %}
        {% endif %}

        <form action='/view-pet'>

            <button type='submit' class='btn btn-info' id='play-button'>Play</button>&nbsp;&nbsp;<button type='submit' class='btn btn-success' id='food-button'>Food</button>&nbsp;&nbsp;<button type='submit' class='btn btn-danger' id='sleep-button'>Sleep</button>
        </form>
    </div>
</body>
</html>
